<emc-navbar id="navbar"></emc-navbar>
<emc-page>
    <emc-paging id="view-pager" active="main">
        <gt-viewchoice id="main-content" slot="main" active="tracker">
            <gt-viewchoice-panel category="tracker">
                <ootrt-layoutcontainer id="layout-container" layout="map-compact">
                </ootrt-layoutcontainer>
            </gt-viewchoice-panel>
            <gt-viewchoice-panel category="locationlist">
                <ootrt-locationlist>
                </ootrt-locationlist>
            </gt-viewchoice-panel>
            <gt-viewchoice-panel category="maps">
                <ootrt-worldmap detailed="true">
                </ootrt-worldmap>
            </gt-viewchoice-panel>
            <gt-viewchoice-panel category="shops">
                <ootrt-shoplist>
                </ootrt-shoplist>
            </gt-viewchoice-panel>
            <gt-viewchoice-panel category="dungeonstate">
                <ootrt-dungeonstate orientation="column" active="key,bosskey,silver_rupees,map,compass,reward,type,hint">
                </ootrt-dungeonstate>
            </gt-viewchoice-panel>
            <gt-viewchoice-panel category="exits">
                <gt-exitlist>
                </gt-exitlist>
            </gt-viewchoice-panel>
            <gt-viewchoice-panel category="songs">
                <ootrt-songlist>
                </ootrt-songlist>
            </gt-viewchoice-panel>
            <gt-viewchoice-panel category="multi">
                <ootrt-multiplayer>
                </ootrt-multiplayer>
            </gt-viewchoice-panel>
            <gt-viewchoice-panel category="notes">
                <gt-texteditor id="notes-editor" title="Notes">
                </gt-texteditor>
            </gt-viewchoice-panel>
        </gt-viewchoice>
        <ootrt-editor-container id="editor-choice" slot="editor_choice"></ootrt-editor-container>
    </emc-paging>
</emc-page>
<footer class="footer">
    <gt-locationstate>
    </gt-locationstate>
</footer>

<div id="busy-animation"></div>
